body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to left,#44238C, #1E0F40);
}

header{
    margin-bottom: 200px;
}

.sobre_mim {
    display: flex;
    gap: 0;
    align-items: flex-start;
    padding: 0;
}

.img_amanda{
    border-top-right-radius: 10%;
    height: 550px;
    width: 450px;
    margin-right: 50px;
    flex-shrink: 0;
}

.sobre_mim_title{
    color: #5cff43;
    font-family: fantasy,Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-decoration: line-through;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.sobre_mim_title_educ{
    color: #5cff43;
    font-family: fantasy,Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-decoration: line-through;
    font-size: 30px;
    text-align: right;
    width: 100%;
}

.sobre_mim_paragrafo{
    color: white;
    font-style: italic;
    font-size: 14px;
    width: 100%;
    margin-left: 0;
    text-align: right;
}

.sobre_mim_destaque_graduacao{
    color: white;
    font-weight: bolder;
    font-style: italic;
    font-size: 19px;
    width: 100%;
    margin-left: 0;
    text-align: right;
}

.sobre_mim_title_direita{
    color: #5cff43;
    font-family: fantasy,Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-decoration: line-through;
    font-size: 30px;
    text-align: right;
}

.sobre_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    width: 100%;
    margin-top: 40px;
}

.sobre_coluna {
    width: 100%;
    text-align: right;
}

.sobre_skills {
    color: white;
    font-style: italic;
    font-size: 14px;
    width: 100%;
    margin-left: 0;
    text-align: right;
    margin-top: 0;
}

.sobre_skills h1 {
    color: #5cff43;
    font-family: fantasy, Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-decoration: line-through;
    font-size: 30px;
    text-align: right;
}

.progress-bar {
    height: 10px;
    background: #5cff43;
    border-radius: 4px;
    margin: 8px 0 15px 0;
    max-width: 150px;
    margin-left: auto;
    display: block;
    position: relative;
}

.sobre_skills p {
    margin-bottom: 5px;
}

.progress-container {
    width: 150px;
    height: 10px;
    background: #333;
    border-radius: 4px;
    margin: 8px 0 15px 0;
    margin-left: auto;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: #5cff43;
    border-radius: 4px;
    margin: 0;
    display: block;
}

.progress-bar.photoshop {
    width: 100%;
}

.progress-bar.illustrator {
    width: 80%;
}

.progress-bar.indesign {
    width: 60%;
}

.progress-bar.figma {
    width: 80%;
}

